.common {
    composes: a-text-size-larger a-text-decoration-none from "./typography.css";
    composes: a-text-color-white a-background-color-blue a-background-image-blue from "./colors.css";
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    padding: 10px 20px 10px 20px;
}

.common:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/*.common:hover {
    composes: a-background-color-blue-lighter a-background-image-blue-lighter from "./colors.css";
}*/