.a-text-color {
    color: #333;
}

.a-text-color-trimble-blue {
    color: #003F87;
}

.a-text-color-white {
    color: #fff;
}

.a-text-color-grey {
    color: #ccc;
}

.a-text-color-red {
    color: #ff0000;
}

.a-text-color-green {
    color: #00ff00;
}

.a-background-color-green {
    background-color: #00ff00;
}

.a-background-image-green {
    background-image: -webkit-linear-gradient(top, #00ff00, #00ff00);
    background-image: -moz-linear-gradient(top, #00ff00, #00ff00);
    background-image: -ms-linear-gradient(top, #00ff00, #00ff00);
    background-image: -o-linear-gradient(top, #00ff00, #00ff00);
    background-image: linear-gradient(to bottom, #00ff00, #00ff00);
}

.a-background-color-blue {
    background-color: #3498db;
}

.a-background-image-blue {
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

.a-background-color-blue-lighter {
    background-color: #3cb0fd;
}

.a-background-image-blue-lighter {
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}


