.a-font-family {
 font-family: helvetica, arial, sans-serif; }

.a-text-weight-light {
  font-weight: 300 !important; }

.a-text-weight-normal {
  font-weight: 400 !important; }

.a-text-weight-bold {
  font-weight: 700 !important; }

  .a-text-size-minus {
  font-size: 13px !important;
  line-height: 22px !important; }

.a-text-size {
  font-size: 14px !important;
  line-height: 22px !important; }

.a-text-size-plus {
  font-size: 15px !important;
  line-height: 22px !important; }

.a-text-size-large-minus {
  font-size: 15px !important;
  line-height: 33px !important; }

.a-text-size-large {
  font-size: 16px !important;
  line-height: 33px !important; }

.a-text-size-large-plus {
  font-size: 17px !important;
  line-height: 33px !important; }

.a-text-size-larger-minus {
  font-size: 17px !important;
  line-height: 38.5px !important; }

.a-text-size-larger {
  font-size: 19px !important;
  line-height: 38.5px !important; }

.a-text-size-larger-plus {
  font-size: 22px !important;
  line-height: 38.5px !important; }

.a-text-size-largest-minus {
  font-size: 22px !important;
  line-height: 44px !important; }

.a-text-size-largest {
  font-size: 27px !important;
  line-height: 44px !important; }

.a-text-size-largest-plus {
  font-size: 35px !important;
  line-height: 44px !important; }

.a-text-size-small-minus {
  font-size: 12.5px !important;
  line-height: 16.5px !important; }

.a-text-size-small {
  font-size: 13px !important;
  line-height: 16.5px !important; }

.a-text-size-small-plus {
  font-size: 13.5px !important;
  line-height: 16.5px !important; }

.a-text-size-smaller-minus {
  font-size: 11.5px !important;
  line-height: 16.5px !important; }

.a-text-size-smaller {
  font-size: 12px !important;
  line-height: 16.5px !important; }

.a-text-size-smaller-plus {
  font-size: 12.5px !important;
  line-height: 16.5px !important; }

.a-text-size-smallest-minus {
  font-size: 9px !important;
  line-height: 11px !important; }

.a-text-size-smallest {
  font-size: 10px !important;
  line-height: 11px !important; }

.a-text-size-smallest-plus {
  font-size: 11px !important;
  line-height: 11px !important; }