.normal {
    composes: normal from "./submitButton.css";
    composes: a-text-size-small from "../styles/typography.css";
    background-color: #55e18d;
    background-image: -webkit-linear-gradient(top, #55e18d, #55e18d);
    background-image: -moz-linear-gradient(top, #55e18d, #55e18d);
    background-image: -ms-linear-gradient(top, #55e18d, #55e18d);
    background-image: -o-linear-gradient(top, #55e18d, #55e18d);
    background-image: linear-gradient(to bottom, #55e18d, #55e18d);
    padding: 5px 10px 5px 10px;
}
.normal:hover {
    background: #00FF00;
}

.inProgress {
    composes: normal;
    composes: a-text-color-white from "../styles/colors.css";
}