.app {
	composes: a-font-family from "./styles/typography.css";
	text-size-adjust: none;
	line-height: 200%;
	padding: 6px 0px 0px 10px;
}

.title {
	composes: a-text-color-trimble-blue from "./styles/colors.css";
}