.app {
    composes: a-font-family from "./styles/typography.css";
    composes: a-text-color from "./styles/colors.css";
    padding: 6px 0 0 10px;
}

.title {
    composes: a-text-color-trimble-blue from "./styles/colors.css";
}